* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
h1 {
  font-size: 30px;
}
body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  height: 100vh;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.container {
  background-color: white;
  padding-bottom: 80px;
  min-height: 50vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.buttonsCont button {
  width: 10vmin;
  height: 5vmin;
  margin-bottom: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
.buttonsCont button:hover {
  background-color: #1976d2;
}
.buttonsCont {
  text-align: center;
}
.ballCont {
  display: flex;
  height: 15%;
  margin-top: 50px;
}
.ballCont div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
@media (width<600px) {
  .container {
    min-height: 70vh;
    width: 100%;
    gap: 30px;
    padding: 10px;
  }
  .buttonsCont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .buttonsCont button {
    width: 19vmin;
    height: 14vmin;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 4px;
  }
  .ballCont {
    display: flex;
    height: 10%;
    margin-top: 40px;
    width: 100%;
    gap: 10px;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
  }
  .ballCont div {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 18px;
    margin-left: 6px;
  }
}

@media (width>600px) and (width<800px) {
  .container {
    min-height: 70vh;
    width: 100%;
    gap: 30px;
    padding: 10px;
  }
  .buttonsCont {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .buttonsCont button {
    width: 14vmin;
    height: 8vmin;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 4px;
  }
  .ballCont {
    display: flex;
    height: 10%;
    margin-top: 40px;
    width: 100%;
    gap: 10px;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
  }
  .ballCont div {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 18px;
    margin-left: 6px;
  }
}
